.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cabecera img{
height: 100px;
width: 300px;
}

.cabecera .menu ul{
    display: inline-flex;
    gap: 10px;
}

.inicio{
    display: inline-flex;
    justify-content: flex-start;
}

.inicio .botones{
    
    display: inline-flex;
    justify-content: space-around;
}